 <div class="user-details">
  <br><b><p> {{site.user_description}} </p></b>
  <h1> My Expertise </h1>

</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>

     
      <p>    <b> Photoshop, GIMP, Lightworks</b></p>
    </div>
	     
    <div class="tech">
      <h2>Code</h2>
       <p>    <b> JavaScript, jQuery,JSON, Node.js<br>C#, SQL, Bootstrap Framework ,HTML(5),CSS(3) </b></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
     
       <p>    <b> WordPress, Git, Microsoft Visual Studio<br>Chrome DevTools, MS Office, FileZilla, Power BI Desktop</b></p>
      <p></p>
    </div>
</div>
