<div class="user-details"><h1>  Interests </h1></div>
<div class="user">
   
  <div class="tech">
 


 
    <img alt="skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />

  
    <h3>ice skating</h3>
  
  </div>
  <div class="tech">
    
    <img alt="piano" src="{{ "/assets/img/piano.jpg" | prepend: site.baseurl }}" />
 
 
    <h3> playing piano </h3>
   
  
  </div>

  <div class="tech">
 
    <img alt="travel" src="{{ "/assets/img/travel.jpg" | prepend: site.baseurl }}" />

 
    <h3> Travelling </h3>
  
   
  
</div>

</div>