<div class="user-details">
  <h1>  Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="freecodecamp" src="{{ "/assets/img/freecodecampproject.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>freeCodeCamp </h3>
    <ul>
      <li> Html, CSS, JavaScript, jQuery, Ajax</li>
    </ul>
    <p>This is a list of  Front End projects I have done based on freeCodeCamp curriculum </p>
    <a class="project-link" href="https://codepen.io/elaheh_mola/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="zazzle" src="{{ "/assets/img/zazzle.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Zazzle, Amazon </h3>
    <ul>
      <li> Photoshop, GIMP</li>
    </ul>
    <span><a class="project-link" href="https://www.zazzle.ca/elahehm?rf=238549704891411378" target="_blank">Zazzle</a> </span>
    <a class="project-link" href="https://www.facebook.com/Elahehdesign/" target="_blank"><i class="fa fa-facebook-square"> 	facebook page</i></a></span>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="WP6" src="{{ "/assets/img/wp6.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>wp6 </h3>
    <ul>
      <li> JavaScript, jQuery, Ajax, WordPress</li>
    </ul>
    <a class="project-link" href="http://hypatia.cs.ualberta.ca/wp6/" target="_blank">Check it out</a>
  </div>
</div>
