<div class="user-details">
  <h1>  Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/freecodecampproject.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>freeCodeCamp </h3>
    <ul>
      <li> Html, CSS, JavaScript, jQuery, Ajax</li>
    </ul>
    <p>This is a list of  Front End projects I have done based on freeCodeCamp curriculum </p>
    <a class="project-link" href="https://codepen.io/elaheh_mola/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/zazzle.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Zazzle,amazon </h3>
    <ul>
      <li> Photoshop, GIMP</li>
    </ul>
    <p>I am creating  designs for merch by amazon and zazzle. Creativity is a must to be successful in this field. By clicking below go ahead and take a look at my online shop  </p>
    <span><a class="project-link" href="https://www.zazzle.ca/elahehm?rf=238549704891411378" target="_blank">Check it out</a> <a class="project-link" href="http://telegram.me/elahehdesign" target="_blank">	<i class="fa fa-telegram"> Telegram channel</i></a></span>
  </div>
</div>
